<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Interface</title>
</head>
<body>
<h1>Lista de Alimentos</h1>

<table border="1">
    <thead>
    <tr>
        <th>Add</th>
        <th>Alimento</th>
        <th>Calorias</th>
        <th>Proteínas</th>
        <th>Carboidratos</th>
        <th>Gorduras</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${alimentos}">
        <td><input type="checkbox" name="ids" value="${a.id}"></td>
        <td th:text="${a.nome}">Nome</td>
        <td th:text="${a.calorias}">Calorias</td>
        <td th:text="${a.proteinas}">Proteínas</td>
        <td th:text="${a.carboidratos}">Carboidratos</td>
        <td th:text="${a.gorduras}">Gorduras</td>
    </tr>
    </tbody>
</table>
<button type="submit">Adicionar a lista do dia</button>


<h2>Enter Data</h2>
<form th:action="@{/interface}" method="post" th:object="${alimento}">
    <div>
        <label>Nome:</label>
        <input type="text" id="name" th:field="*{nome}" />
    </div>
    <div>
        <label>calorias:</label>
        <input type="number" id="calorias" th:field="*{calorias}" />
    </div>
    <div>
        <label>proteinas:</label>
        <input type="number" id="proteina" th:field="*{proteinas}" />
    </div>
    <div>
        <label>gorduras:</label>
        <input type="number" id="gordura" th:field="*{gorduras}" />
    </div>
    <div>
        <label>carboidratos:</label>
        <input type="number" id="carboidrato" th:field="*{carboidratos}" />
    </div>

    <button type="submit">Submit</button>
</form>


<h1>Lista de Alimentos do Dia</h1>

<table border="1">
    <thead>
    <tr>
        <th>Alimento</th>
        <th>Calorias</th>
        <th>Proteínas</th>
        <th>Carboidratos</th>
        <th>Gorduras</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${selecionados}">
        <td th:text="${s.nome}">Nome</td>
        <td th:text="${s.calorias}">Calorias</td>
        <td th:text="${s.proteinas}">Proteínas</td>
        <td th:text="${s.carboidratos}">Carboidratos</td>
        <td th:text="${s.gorduras}">Gorduras</td>
    </tr>
    </tbody>
</table>

</body>
</html>